@font-face {
  font-family: helvlight;
  src: url(assets/fonts/helv/helvul.otf);
}

html {
  background-color: #505b57 !important;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #090a09), color-stop(100%, #2d312f));
  background-image: -webkit-linear-gradient(#090a09, #2d312f);
  background-image: -moz-linear-gradient(#090a09, #2d312f);
  background-image: -o-linear-gradient(#090a09, #2d312f);
  background-image: linear-gradient(#090a09, #2d312f);
}

body {
  background: url(assets/img/back-img.jpg) center 0 no-repeat, url(assets/img/noise-bg.png);
}

.container {
  background: 0 0 no-repeat;
  width: 1000px;
  max-width: none !important;
}

.main-logo {
  margin-top: 10px;
  height: 120px;
}

.top-menu {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-right: 10px;
  padding: 0 20px 0 60px;
  background: gainsboro;
  display: inline-block;
  overflow: hidden;
  font-family: helvlight, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.top-menu li {
  float: left;
  background: gainsboro;
  list-style: none;
  margin-right: 5px;
}
.top-menu li:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a42424), color-stop(100%, #741818));
  background-image: -webkit-linear-gradient(#a42424, #741818);
  background-image: -moz-linear-gradient(#a42424, #741818);
  background-image: -o-linear-gradient(#a42424, #741818);
  background-image: linear-gradient(#a42424, #741818);
}
.top-menu li:hover a {
  color: white;
  text-decoration: none;
}
.top-menu a {
  display: inline-block;
  padding: 15px 10px;
  text-transform: uppercase;
  color: dimgrey;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 0 1px #f0f0f0;
}

.container.page {
  margin-top: -5px;
  position: relative;
  z-index: 2;
  background-color: #414141;
  padding: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 0 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 0 12px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 12px;
}

/* =========== slider =========== */
.main-slider {
  border: 3px solid white;
  position: relative;
  padding: 0 !important;
  width: 925px !important;
  margin-left: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 0 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 0 12px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 12px;
}
.main-slider .carousel-caption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.64);
  left: 0;
  bottom: 0;
  width: 230px;
  height: 80px;
  padding: 15px 10px;
}
.main-slider .carousel-caption h4 {
  margin: 0;
  line-height: 24px;
  font-size: 20px;
}
.main-slider .carousel-caption h4 a {
  color: white;
  text-decoration: none;
}
.main-slider .carousel-indicators {
  right: 5px;
  bottom: -2px;
  left: auto !important;
  width: auto !important;
  margin-left: 0 !important;
}
.main-slider .carousel-indicators li {
  outline: none;
  border: none;
  background: #e7e7e7;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.75) 0 1px 4px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.75) 0 1px 4px;
  box-shadow: inset rgba(0, 0, 0, 0.75) 0 1px 4px;
  float: left;
  margin-right: 3px !important;
}
.main-slider .carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin: 1px;
  background: #952134 !important;
}

.ms-reg {
  position: absolute;
  background: white;
  border: 1px solid #a19f9f;
  font-size: 16px;
  right: 0;
  top: 0;
}
.ms-reg a {
  color: #606060;
  padding: 5px 100px;
  display: inline-block;
}
.ms-reg a:hover {
  text-decoration: none;
  color: #8f1e1e;
}

/* ============= main content ============= */
.main-content {
  width: 652px !important;
}

.content-page {
  margin-top: 10px;
}

.mca-title {
  color: #d9d7d7;
  font-size: 18px;
  margin-bottom: 20px;
}

.mc-article {
  overflow: hidden;
}
.mc-article a {
  color: #ad3434;
  font-weight: bold;
}

.mca-img {
  display: inline-block;
  width: 276px;
  border: 2px solid #9e2222;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
  float: left;
  margin-right: 10px;
}

.mca-text {
  float: left;
  text-indent: 40px;
  line-height: 20px;
}

.mc-article-list {
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 20px 15px;
  background-color: gainsboro;
  color: dimgrey;
}
.mc-article-list li {
  list-style: none;
  padding-left: 28px;
  background: url(assets/img/list-ball.png) 0 4px no-repeat;
}

.mca-bottom p {
  text-indent: 40px;
}

.mca-question {
  background-color: #8f1e1e;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 0 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 0 8px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 8px;
  padding: 7px 55px;
  color: #fefefe;
  position: relative;
  margin: 20px 0;
}
.mca-question a {
  color: #fefefe;
}
.mca-question a:hover {
  color: white;
  text-decoration: none;
}

.mcaq-question {
  position: absolute;
  background-color: #721616;
  left: 0;
  top: -3px;
  width: 43px;
  height: 43px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  font-size: 33px;
  font-style: normal;
  text-align: center;
}

.mcaq-arrow {
  display: inline-block;
  width: 24px;
  height: 11px;
  background: url(assets/img/mcaq-arrow.png) 0 0 no-repeat;
  position: absolute;
  right: 10px;
  top: 12px;
}

/* ============= right block ============= */
.right-blocks {
  width: 315px !important;
}

.right-block {
  padding: 10px 5px 10px 25px !important;
  margin-top: 20px;
  background-color: gainsboro;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 12px;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 12px;
}
.right-block input.form-control {
  background-color: rgba(255, 255, 255, 0.42) !important;
  color: #a5a4a4;
  font-size: 14px;
  height: 25px;
  padding: 3px 10px;
  width: 210px;
  -webkit-box-shadow: 0 0 3px rgba(194, 194, 194, 0.5);
  -moz-box-shadow: 0 0 3px rgba(194, 194, 194, 0.5);
  box-shadow: 0 0 3px rgba(194, 194, 194, 0.5);
}
.right-block h4 {
  color: #8f1e1e;
  font-size: 18px;
  margin-left: -5px;
}

.checkbox {
  font-size: 11px;
  margin-left: 5px !important;
  padding: 5px !important;
}
.checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  left: -9999px;
  vertical-align: top;
}
.checkbox label {
  color: #6c6c6c;
  vertical-align: middle;
}
.checkbox label span {
  background: url(assets/img/check-empty.png) 0 0 no-repeat;
  padding-left: 20px;
}
.checkbox label input:checked + span {
  background: url(assets/img/check-full.png) 0 0 no-repeat;
}

.form-group.pull-right {
  width: 150px;
}

.form-horizontal .form-group {
  margin-bottom: 5px;
}

.form-group .btn-default {
  padding: 3px 45px;
  color: #6d6b6b;
}

.fg-links {
  font-size: 11px;
  margin-top: 10px;
}
.fg-links a {
  display: block;
}

.fgl-gray {
  color: #6c6c6c;
}

/* ============= right preview ============= */
.right-preview {
  margin-top: 35px;
}

.rp-table {
  color: #5d5d5d;
  margin-bottom: 20px;
}

.rpt-head {
  border-bottom: 1px solid #949494;
}
.rpt-head td {
  text-indent: 0px !important;
}

.rp-table tr td {
  padding-right: 50px;
  line-height: 16px;
}

.rp-table tr td:first-child {
  text-indent: 15px;
}

.rtp-space {
  height: 8px;
}

/* ============= banner ============= */
.right-banner {
  background: url(assets/img/banner.jpg) 0 0 no-repeat;
  margin-top: 235px;
  width: 289px !important;
  height: 225px;
  text-align: center;
}
.right-banner h3 {
  position: relative;
  top: 42%;
  color: #8b8b8b;
}

/* ============= footer ============= */
.main-footer {
  padding: 20px 0;
}

.mf-left {
  font-size: 14px;
  color: white;
}
.mf-left p {
  margin: 0;
}

.mf-right {
  text-align: right;
}
