@import compass

@font-face
  font-family: helvlight
  src: url(assets/fonts/helv/helvul.otf)


html
  background-color: #505B57 !important
  +background-image(linear-gradient(#090A09, #2D312F))

body
  background: url(assets/img/back-img.jpg) center 0 no-repeat, url(assets/img/noise-bg.png)

.container
  background:  0 0 no-repeat
  width: 1000px
  max-width: none !important

.main-logo
  margin-top: 10px
  height: 120px

.top-menu
  position: relative
  z-index: 1
  margin: 0
  margin-right: 10px
  padding: 0 20px 0 60px
  background: #dcdcdc
  display: inline-block
  overflow: hidden
  font-family: helvlight,"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  +border-radius (6px 6px 0 0)
  li
    float: left
    background: #dcdcdc
    list-style: none
    margin-right: 5px
    &:hover
      +background-image(linear-gradient(#A42424, #741818))
      a
        color: #fff
        text-decoration: none
  a
    display: inline-block
    padding: 15px 10px
    text-transform: uppercase
    color: #696969
    font-size: 18px
    font-weight: bold
    text-shadow: 0 0 1px #f0f0f0

.container.page
  margin-top: -5px
  position: relative
  z-index: 2
  background-color: #414141
  padding: 25px
  +box-shadow(rgba(0,0,0, 0.7) 0 0 12px)

/* =========== slider =========== */

.main-slider
  border: 3px solid #fff
  position: relative
  padding: 0 !important
  width: 925px !important
  margin-left: 25px
  +box-shadow(rgba(0,0,0, 0.7) 0 0 12px)
  .carousel-caption
    position: absolute
    background-color: rgba(0,0,0,0.64)
    left: 0
    bottom: 0
    width: 230px
    height: 80px
    padding: 15px 10px
    h4
      margin: 0
      line-height: 24px
      font-size: 20px
      a
        color: #fff
        text-decoration: none
  .carousel-indicators
    right: 5px
    bottom: -2px
    left: auto !important
    width: auto !important
    margin-left: 0 !important
    li 
      outline: none
      border: none
      background: #e7e7e7
      +box-shadow(inset rgba(black, .75) 0 1px 4px)
      float: left
      margin-right: 3px !important
    .active
      width: 10px
      height: 10px
      margin: 1px
      background: #952134 !important


.ms-reg
  position: absolute
  background: #fff
  border: 1px solid #A19F9F
  font-size: 16px
  right: 0
  top: 0
  a
    color: #606060
    padding: 5px 100px
    display: inline-block
    &:hover
      text-decoration: none
      color: #8f1e1e

/* ============= main content ============= */

.main-content
  width: 652px !important

.content-page
  margin-top: 10px

.mca-title
  color: #d9d7d7
  font-size: 18px
  margin-bottom: 20px

.mc-article
  overflow: hidden
  a
    color: #ad3434
    font-weight: bold

.mca-img
  display: inline-block
  width: 276px
  border: 2px solid #9e2222
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  +box-shadow(rgba(black, .8) 0 0 5px)
  float: left
  margin-right: 10px

.mca-text
  float: left
  text-indent: 40px
  line-height: 20px

.mc-article-list
  margin-top: 5px
  margin-bottom: 30px
  padding: 20px 15px
  background-color: #dcdcdc
  color: #696969
  li 
    list-style: none
    padding-left: 28px
    background: url(assets/img/list-ball.png) 0 4px no-repeat

.mca-bottom
  p
    text-indent: 40px

.mca-question
  background-color: #8f1e1e
  -webkit-border-radius: 20px
  -moz-border-radius: 20px
  border-radius: 20px
  display: inline-block
  +box-shadow(rgba(0,0,0, 0.7) 0 0 8px)
  padding: 7px 55px
  color: #fefefe
  position: relative
  margin: 20px 0
  a
    color: #fefefe
    &:hover
      color: #fff
      text-decoration: none

.mcaq-question
  position: absolute
  background-color: #721616
  left: 0
  top: -3px
  width: 43px
  height: 43px
  -webkit-border-radius: 100%
  -moz-border-radius: 100%
  border-radius: 100%
  font-size: 33px
  font-style: normal
  text-align: center

.mcaq-arrow
  display: inline-block
  width: 24px
  height: 11px
  background: url(assets/img/mcaq-arrow.png) 0 0 no-repeat
  position: absolute
  right: 10px
  top: 12px

/* ============= right block ============= */

.right-blocks
  width: 315px !important

.right-block
  padding: 10px 5px 10px 25px !important
  margin-top: 20px
  background-color: #dcdcdc
  overflow: hidden
  +box-shadow(rgba(0,0,0, 0.5) 5px 5px 12px)
  input.form-control
    background-color: rgba(white, .42) !important
    color: #a5a4a4
    font-size: 14px
    height: 25px
    padding: 3px 10px
    width: 210px
    +box-shadow(0 0 3px rgba(194, 194, 194, 0.5))
  h4
    color: #8f1e1e
    font-size: 18px
    margin-left: -5px

.checkbox
  font-size: 11px
  margin-left: 5px !important
  padding: 5px !important
  input
    +appearance(none)
    position: absolute
    left: -9999px
    vertical-align: top
  label
    color: #6c6c6c
    vertical-align: middle
    span
      background: url(assets/img/check-empty.png) 0 0 no-repeat
      padding-left: 20px
    input
      &:checked + span
        background: url(assets/img/check-full.png) 0 0 no-repeat

.form-group.pull-right
  width: 150px

.form-horizontal .form-group
  margin-bottom: 5px

.form-group
  .btn-default
    padding: 3px 45px
    color: #6d6b6b 

.fg-links
  font-size: 11px
  margin-top: 10px
  a
    display: block

.fgl-gray
  color: #6c6c6c

/* ============= right preview ============= */

.right-preview 
  margin-top: 35px

.rp-table
  color: #5d5d5d
  margin-bottom: 20px

.rpt-head
  border-bottom: 1px solid #949494
  td
    text-indent: 0px !important

.rp-table tr td
  padding-right: 50px
  line-height: 16px

.rp-table tr td:first-child 
  text-indent: 15px

.rtp-space
  height: 8px


/* ============= banner ============= */

.right-banner
  background: url(assets/img/banner.jpg) 0 0 no-repeat
  margin-top: 235px
  width: 289px !important
  height: 225px
  text-align: center
  h3
    position: relative
    top: 42%
    color: #8b8b8b

/* ============= footer ============= */

.main-footer
  padding: 20px 0

.mf-left
  font-size: 14px
  color: #fff
  p
    margin: 0

.mf-right
  text-align: right